<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/home.css" type="text/css" />
  <script src="https://kit.fontawesome.com/57d6b8f96c.js" crossorigin="anonymous"></script>
  <script src="/js/async-script.js" async></script>

</head>

<body style="background: bisque; ">


  <!-- -------------------------------------------------------------------------------------------------------------------------->
  <!-- Navigation bar -->


  <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <div class="email-icon">
          <img src="images/clipart-white.png" style="width:50px ;height:50px;" loading="lazy">
        </div>
        My Portfolio
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>


  <!----------------------------------------------------------------------------------------------------------------------------->
  <!-- About us -->

  <section style=" color: rgb(0, 0, 0)">
    <div class="container pt-5">
      <div class="row pt-5">
        <div class="col-md-6">
          <img src="images/pic.png" alt="About Us" class="img-fluid rounded-circle"
          style="width: 300px; height: 300px ; background-color: #A52A2A		;">
          <h1>Hemant Kumar Singh</h1>
        </div>
        <div class="col-md-6">
          <h2>About me</h2>
          <div style="font-family: Verdana, Geneva, Tahoma, sans-serif">
            <p>
              Allow me to introduce myself. I am Hemant, a dedicated software engineer with a profound passion for innovation and a mastery of multiple programming languages, including the versatile C++ and the versatile Java, which I wield for full-stack development. In this digital journey, I have harnessed a robust toolkit of technologies such as Spring, Spring Boot, JPA (Java Persistence API), and Spring MVC for the backend, while utilizing React.js and Angular.js for the frontend. These skills enable me to craft seamless and captivating user experiences.
            </p>
          
            <p>
              In the realm of backend development, I am a maestro of Node.js, shaping resilient and scalable server-side solutions. My expertise extends to the management of data, where I skillfully work with MongoDB and SQL databases, ensuring data integrity and optimal performance for any application.
            </p>
          
            <p>
              As a full-stack developer, I excel at guiding projects from inception to deployment, adapting to collaborative environments, and seamlessly integrating with multidisciplinary teams. My technical prowess allows me to approach challenges from various angles, consistently delivering elegant solutions that endure the test of time.
            </p>
          
            <p>
              Beyond the code, I am an explorer of emerging technologies, a disseminator of insights through written discourse and presentations, and a connoisseur of coffee while I ponder my next coding adventure.
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <!-- -------------------------------------------------------------------------------------------------------------------------->



</body>

</html>
