<!DOCTYPE html>
<html>
<head><title>contact us </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>


 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #000000;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }


  .backimage {
    
    background-image: url("images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

   } 
  
  body{
    background-color: rgb(117, 180, 216);

    
  }
  
  .space{
    font-family: Arial, sans-serif;
      margin-left: 70px;
    
  }
   
  .rightspace{

    margin-right: 10px;
  }


  hr {
            height: 4px;
            background-color: rgb(7, 6, 6);
            border: none;
        }


  </style>

</head>
<body>


  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
                                 
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/home"><%= username%></a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
    
  <div class="text-center">    
    
      
  
  
        <div class="backimage">      
        <br>
        <h1 class="font-weight: 100">Hemant Kumar Singh</h1> 
        <h1 style="color: white;">Hello <%= username %>, <br>
         &nbsp &nbsp  I am a Software Engineer</h1>
     
     
        
     
     
     
      </div>
       
      </div>
  
      <div class="contact-info text-center " >
        <h1><b><u>Contact info</u> - </b></h1>
        <b>  <p>+91-9935628121</p>
          <p><a href="www.linkedin.com/in/hemant21">www.linkedin.com/in/hemant21</a></p>
          <p>hemantsingh0522@gmail.com</p>
          <p>Village-Dihwa Post Office-Dihwa<br>Block-Nagra, Ballia, Uttar Pradesh<br>India</p>
        
        </b> 
        </div>
       
        

</body>
</html>