<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/home.css" type="text/css">
  <script src="https://kit.fontawesome.com/57d6b8f96c.js" crossorigin="anonymous"></script>
  <script src="/js/async-script.js" async></script>

</head>

<body style="background-color: black;">


  <div id="preloader"></div>

  <!--------------------------------------header and background image at home page ----------------------------------------->

  <header>

    <div class=" header-text " style="border: 1px solid black; color: whitesmoke;">


      <h1>Hello,</h1>
      <h1>My name is <span style="color:#000000;"> Hemant Kumar Singh </span></h1>
      <h1>I am a Software Developer</h1>

     <!-- typewriter effect -->
       
      <h1 class="typewriter">This is my Web Portfolio !!!</h1>
  
     <!-- ---------------------------->
 

    </div>
    

  </header>





  <!-- -------------------------------------------------------------------------------------------------------------------------->
  <!-- Navigation bar -->

  <nav class="navbar navbar-expand-lg  fixed-top navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">

        <div class="email-icon">

          <img src="images/clipart-white.png" style="width:50px ;height:50px;">
        </div>
        My Portfolio
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>

          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>

          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>



        </ul>
      </div>
    </div>
  </nav>









  <!-- ------------------------------------------------------------------------------------------------------------------------->
  <!-- About us -->









   
 <section>
  <div class="container" >
    <div class="mt-5">
  
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card" style="background-color: bisque;">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">

                    <img src="images/profile pic.png" alt="Admin" style="border: 2px solid black;" width="150">
                    <div class="mt-3">
                      <h4>Hemant Kumar Singh</h4>
                      <p class=" mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Uttar pradesh, India</p>
                    </div>
                  </div>
                </div>
              </div>



              <div class="card mt-3" style="background-color: bisque;">
                <ul class="list-group list-group-flush">
                  <!-- Website Link -->
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="2" y1="12" x2="22" y2="12"></line>
                        <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                      </svg>Website
                    </h6>
                    <span class="text-secondary">https://portfolio-ten-gray-88.vercel.app</span>
                  </li>
              
                  <!-- Github Link -->
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline">
                        <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                      </svg>Github
                    </h6>
                    <span class="text-secondary">https://github.com/hemantgit21</span>
                  </li>
              
                  <!-- LinkedIn Link (Changed from Twitter) -->
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401m-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4"/>
                      </svg> LinkedIn
                    </h6>
                    <span class="text-secondary">https://www.linkedin.com/in/hemant21</span>
                  </li>
                </ul>
              </div>
              


            </div>
            <div class="col-md-8">
              <div class="card mb-3" style="background-color: bisque	;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 ">
                      Hemant Kumar Singh
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 ">
                      hemantsingh0522@gmail.com
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 ">
                      (+91) 9935628121
                    </div>
                  </div>
                  <hr>
                  

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 ">
                      Uttar Pradesh, India
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    
                  </div>
                </div>
              </div>

              <div class="row mb-5" >
                <div class="col-sm-12">
                  <div class="card"  style="background-color: bisque	;">
                    <div class="card-body">
                      <h5 class="d-flex align-items-center mb-3">Project Status</h5>
                      <p>Web Design</p>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 94%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p>Website Markup</p>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p>One Page</p>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p>Mobile Template</p>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 92%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p>Backend API</p>
                      <div class="progress" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
    </div>
  </section>


  <!-- --------------------------------------------------------------------------------------------------------------->
  <!-- Skills -->


  <section style=" background: #FFDF00	; " class=" text-center">
    <div class="container">
      <br>
      <h2><u>Skills </u></h2>
      <div class="row mx-5 border bg-white">


        <div class="col-lg-4 mb-4">C++ <img src="images/c++.png" alt="c++" width="50" height="50"></div>
        <div class="col-lg-4 mb-4">Java <img src="images/java.png" alt="java" width="30" height="50"></div>
        <div class="col-lg-4 mb-4">SQL (Database management) <img src="images/sql.png" alt="sql" width="50" height="50" loading="lazy">
        </div>
        <div class="col-lg-4 mb-4">HTML/CSS <img src="images/html.png" alt="c++" width="50" height="50"> <img
            src="images/css.png" alt="css" width="50" height="55" loading="lazy"></div>
        <div class="col-lg-4 mb-4">JavaScript <img src="images/javascript.png" alt="JavaScript" width="50" height="50" loading="lazy">
        </div>
        <div class="col-lg-4 mb-4">Data structures and algorithms <img src="images/data-structure.png"
            alt="data-structure" width="90" height="50" loading="lazy"></div>
        <div class="col-lg-4 mb-4">Node.js <img src="images/nodejs.png" alt="node" width="70" height="50" loading="lazy"></div>
        <div class="col-lg-4 mb-4">Express.js <img src="images/expressjs.png" alt="express" width="50" height="50" loading="lazy"> 
        </div>
        <div class="col-lg-4 mb-4">React.js <img src="images/reactjs.png" alt="react" width="60" height="50" loading="lazy"></div>
       

              
            <div class="col-lg-4 mb-4"> Hibernate <img src="images/hibernate.png"
              alt="hibernate" width="60" height="50" loading="lazy">></div>


            <div class="col-lg-4 mb-4">Spring Framework <img src="images/spring.png"
              alt="spring" width="60" height="50" loading="lazy">></div>

              <div class="col-lg-4 mb-4">Spring boot <img src="images/spring boot.png"
                alt="spring boot" width="60" height="50" loading="lazy">></div>

      
                <div class="col-lg-4 mb-4">Software Engineering <img src="images/software-engineering.png"
                  alt="software-engineering" width="60" height="50" loading="lazy">></div>


      </div>
      <br>
    </div>
  </section>





  <!-- -------------------------------------------------------------------------------------------------------------------- -->
  <!-- Project -->



  <section>
    <div style="color: whitesmoke; background:black    ; padding: 20px; " class="text-center">
      <h1><u>Project</u></h1>


      
      <div class="container" >
        <div class="row">

          <div class="col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="images/fynn.io.png" loading="lazy">>
              <div class="card-body">
                <h3 class="card-title"><b>Fynn.io</b></h3>
                <h5 ><b>Company : Nagarro software</b></h5>
    
    
                <p class="card-text">
                  
                  Getting Familiarize with the senior living
                  industry, including the challenges and needs of residents, staff,
                  and administrators as part of project.

                  Create user interfaces that are intuitive and easy for residents, staff, and administrators to navigate, 
                  with a focus on improving the user experience.

                  Create RESTful APIs to facilitate communication between front-end and back-end components of the platform.

                  Continuously monitor and optimize the platform's performance to ensure it can handle increased usage and maintain sponsiveness.</p>
                
                </div>
            </div>
          </div>
    






          <div class="col-lg-4 mb-4">
             <a href="https://chat-app-r0ba.onrender.com" >

            <div class="card">
              <img class="card-img-top " src="images/chat-app.png" loading="lazy">>
              <div class="card-body">
                <h3 class="card-title"><b>Chat Application</b></h3>
                <h5 ><b>Personal Projects</b></h5>
                <p class="card-text"> Chat application created to chat with friend hosted on local server by entering username and room number

                  Chat application created using Node.js, Express.js and socket.io
                  
                  Basic routing through express.js get and post requests (Rest Api). 
                  
                  Two way communication over the server using socket.io module. 
                  
                  Basic styling of pages using CSS
                  
                  Many users can be added to add distinction username is displayed over chat box</p>
              </div>
            </div>
              </a>
          </div>


          <div class="col-lg-4 mb-4">
             <a href="https://my-portfolio-gvhf.onrender.com" >
            <div class="card">
              <img class="card-img-top" src="images/portfolio.png" loading="lazy">>
              <div class="card-body">
                <h3 class="card-title"><b>My Portfolio</b></h3>
                <h5 ><b>Personal Projects</b></h5>

                <p class="card-text">experience, education details and skills. Made
                  with Node.js and Express.js and GET request and
                  POST request used in Express.js.</p>
              </div>
            </div>
           </a>
          </div>


          <div class="col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="images/online-exam-system.png" loading="lazy">> 
              <div class="card-body" >
                <h3 class="card-title" ><b>Online Examination System</b></h3>
                <h5 ><b>Academic project</b></h5>


                <p class="card-text">Online Examination System is a technology-driven way to
                  simplify examination activities
                  conducting </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- -------------------------------------------------------------------------------------------------------------------- -->
  <!-- Education -->

  <section>
    <div style="color: rgb(255, 248, 248);  background:#000000 ; padding: 20px; " class="text-center">
      <h1><u>Education</u></h1>

      <div class="container pt-5 ">
        <div class="row justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="images/rlblogo.png" width="400" height="310">

              <div class="card-body">
                <h3 class="card-title"><b>10th Grade (Highschool)</b></h3>

                <div class="card-text">

                  <p>Duration: 05/2014 - 05/2015 (Science)</p>
                  <p>Stream: Science</p>


                </div>
              </div>
            </div>
          </div>



          <div class="col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="images/rlblogo.png" width="400" height="310">

              <div class="card-body">
                <h3 class="card-title"> <b>12 Grade (Intermediate)</b> </h3>

                <div class="card-text">

                  <p>Duration: 05/2016 - 05/2017</p>
                  <p>Stream: Science</p>

                </div>

              </div>
            </div>
          </div>



          <div class="col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="images/Dr._A.P.J._Abdul_Kalam_Technical_University_logo.png" width="180" height="277">

              <div class="card-body">
                <h3 class="card-title"><b>Bachelor Of Technology (Graduation)</b></h3>

                <div class="card-text">

                  <p>Duration: 08/2018 - 09/2022 (4 years)</p>
                  <p>Branch : Computer Science</p>
                </div>

              </div>
            </div>
          </div>




        </div>
      </div>
    </div>
  </section>


  <!-- -------------------------------------------------------------------------------------------------------------------- -->
  <!-- Work experience -->

  <section>
    <div style="color: rgb(255, 255, 255); background:black
    ; padding: 20px; " class="text-center">
      <h1><u>Work Experience</u></h1>

      <div class="container pt-5 ">
        <div class="row justify-content-center">






          <div class="col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="images/odzservices.jpeg" width="400" height="310">
              <div class="card-body">
                <h3 class="card-title"><b>ODZ Services</u></b></h3>

                <div class="card-text">

                  <p><b>Company:</b> ODZ Services</p>


                  <p><b>Designation:</b> Fullstack engineer</p>


                  <p><b>Duration:</b> Jan 2023 - Present</p>

                  
                </div>

              </div>
            </div>
          </div>









          <div class="col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="images/nagarro.jpg">
              <div class="card-body">
                <h3 class="card-title"><b>Nagarro software</u></b></h3>

                <div class="card-text">

                  <p><b>Company:</b> Nagarro software private limited</p>


                  <p><b>Designation:</b> Associate software engineer</p>


                  <p><b>Duration:</b> Jan 2022 - Dec 2022</p>

                  <p> Analyse complex technical problems and propose effective solutions to overcome challenges. </p>
                  <p>Work on both front-end and back-end development to create comprehensive software solutions for the project.</p>
                  <p> Write clean, efficient, and maintainable code in various programming languages and frameworks for both the front-end
                    and back-end.</p>

                </div>

              </div>
            </div>
          </div>


          


        </div>
      </div>
    </div>
  </section>


  <!----------------------------------------------------------------------------------------------------------------------- -->


 <script>
  var loader = document.getElementById("preloader");

  window.addEventListener("load",function() {
    loader.style.display="none";
  })

  </script>

</body>

</html>
